.CharCardAlive {
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.CharCardDead {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.CharCard {
  background-color: lightyellow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

p {
  font-weight: bold;
  font-size: 15pt;
  padding: 5px;
}
img {
  width: 200px;
  border-radius: 20px;
}
